@import "scss/config";

.grid__main {
  max-width: 1200px;

  &__row {
    display: flex;
    padding: $gutter 0;
    margin-right: -$gutter/2;
    margin-left: -$gutter/2;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__col {
    width: 100%;
    padding-right: $gutter/2;
    padding-left: $gutter/2;
  }

}

@media (min-width: 800px) {
  .grid__main {
    &__col {
      width: 50%;
    }

  }

}

@media (max-width: 799px) {
  .grid__main {
    &__reverse__row {
      flex-direction: column-reverse;
    }
  }
}

.image {
  width: 100%;
}
