$appelsinugulur: #ff5000;
$hvitur: #fffcf2;
$svartur: #000;
$gutter: 20px;

.header {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  padding: 10px;
  font-family: Oswald, verdana, serif;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $appelsinugulur;

  &__header {
    align-self: center;
    padding: $gutter/2;
    margin: 0;
  }

  &__nav {
    align-self: center;
    padding: $gutter/2;
  }

  &__tags {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__tag {
    padding: 0 $gutter/2;
    text-transform: uppercase;
  }

  &__cart {
    align-self: center;
    padding: $gutter/2;

    &__img {
      object-fit: contain;
      height: 1em;
    }
  }

  &__link {
    color: $svartur;
    text-decoration: none;
  }

  &__link--valinn {
    text-decoration: underline;
  }

  &__link:hover {
    color: $hvitur;
  }
}

@media (min-width: 501px) {
  .header {
    &__header {
      width: 100%;
      text-align: center;
    }

    &__tags {
      justify-content: space-around;
    }
    
    &__tag {
      padding: 0;
    }

    &__tag--last {
      width: 100%;
      text-align: center;
    }

    &__cart {
      align-self: flex-end;
      margin-top: -2*$gutter;
    }
  }
}

@media (min-width: 801px) {
  .header {
    &__header {
      width: 100%;
      text-align: center;
    }

    &__tags {
      justify-content: space-around;
    }

    &__tag {
      padding: 0 $gutter/2;
    }

    &__tag--last {
      width: auto;
      text-align: center;
    }

    &__cart {
      align-self: flex-end;
      margin-top: -2*$gutter;
    }
  }
}