$hvitur: #fffcf2;
$svartur: #000;
$gutter: 20px;

.main {
  display: flex;
  width: 100vw;
  max-width: 1200px;
  padding: 0 $gutter;
  margin: 0 auto;
  font-family: Oswald, verdana, serif;
  flex-direction: column;
  flex-wrap: wrap;
}

.products {
  max-width: 1200px;

  &__header {
    padding: 2*$gutter $gutter/2 $gutter $gutter/2;
  }

  &__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__col {
    width: 100%;
  }
}

.product {
  display: flex;
  padding-bottom: 2*$gutter;
  flex-direction: column;
  flex-wrap: wrap;

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__content {
    width: 100%;
  }

  &__header {
    padding: $gutter/2 0;
  }

  &__price {
    padding: $gutter/2 0;
  }

  &__amount {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: stretch;
  }

  &__label-og-input {
    display: flex;
    margin-right: $gutter/2;
    flex-direction: column;

    &__input {
      width: 9em;
      padding: $gutter/4;
      border: solid 1px $svartur;
      border-radius: 3px;
    }
  }

  &__button {
    padding: $gutter/4;
    margin-right: $gutter/2;
    border: solid 1px $svartur;
    border-radius: 3px;

    &__img {
      object-fit: contain;
      height: 1em;
      padding-right: 1em;
    }
  }
}

@media (min-width: 501px) {
  .product {
    flex-direction: row;

    &__img {
      width: 25%;
      padding: 0 $gutter/2;
    }

    &__content {
      width: 75%;
      padding: 0 $gutter/2;
    }

    &__info {
      height: 5em;
    }
  }

  .products__col--501 {
    width: 50%;
  }

  .product--501 {
    flex-direction: column;

    &__img {
      width: 100%;
    }

    &__content {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 801px) {
  .products__col--501 {
    width: 33%;
  }
}
